<a href="https://colab.research.google.com/github/koriatul/pytn-ks-011/blob/main/Sesi__2__Control_flow_%26_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conditonal**

If else dan Loop

In [ ]:
x = 2
y = 3

if x<y:
    print('ya benar')
if x>y:
    print('ya benar')
if x==y:
    print('ya benar')
if x<=y:
    print('ya benar')
if 'we' in ['we','wa','wo']:
    print('ya benar')

ya benar
ya benar
ya benar

In [ ]:
print('we' in ['wa','we','wo'])

True

In [ ]:
#python perlu indentasi
x = 2
y = 3
if x<y:
    if y<x:
      pass
    print('ya benar')

ya benar

**IF ELIF AND ELSE**

In [ ]:
harga_jeruk = 50000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar harga maka jeruk itu biasa
if harga_jeruk>standar_harga:
  print('mahal')
elif harga_jeruk<standar_harga:
  print('murah')
elif harga_jeruk==standar_harga:
  print('biasa')

mahal

In [ ]:
harga_jeruk = 30000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar harga maka jeruk itu biasa
if harga_jeruk>standar_harga:
  print('mahal')
elif harga_jeruk<standar_harga:
  print('murah')
else:
  print('biasa')

biasa

In [ ]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = 70000
standar_harga = 50000
if harga_jeruk>standar_harga:
  print('Mahal')
else: 
  print('Murah')

Mahal

In [ ]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = int(input('Input harga Jeruk='))
standar_harga = 30000
if harga_jeruk>standar_harga:
  print('Mahal')
else: 
  print('Murah')

Input harga Jeruk=25000
Murah

**QUIZ 1**

In [ ]:
harga_pisang = 3000
total_belanja = int(input('masukan total belanja:'))
if total_belanja > 100000:
    diskon = 0.1
elif total_belanja > 50000:
    diskon = 0.05
else:
    diskon = 0
    total_harga = harga_pisang * total_belanja * (1 - diskon)
    print("total harga yang harus dibayar:", total_harga)

masukan total belanja:68000

In [ ]:
harga_jeruk = 50000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+1)
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Mahal
Banget
2

**One-Line-If Statement**

In [ ]:
harga_jeruk = 20000
standar_harga = 30000
if harga_jeruk>standar_harga: print('Mahal');print('Banget');print(1+1)
elif harga_jeruk<standar_harga: print('Murah')
else: print('Biasa')

Murah

In [ ]:
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+2)

**Conditional Expressions**

In [ ]:
umur = 37
s ='Tua'if umur >= 35 else 'muda'
print(s)

Tua

In [ ]:
nama = 'Fachri'
n = 'In Class' if nama in ['Rahmat','Nunu'] else 'Out of Class'
print(n)

Out of Class

In [ ]:
harga_jeruk = 20000
standar_harga = 30000
tanggal_lahir = 1997
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+1)
else:
    pass

**QUIZ 2**
Anda adalah seorang pemilik perusahaan dan Anda berniat untuk memberi bonus kepada pegawai Anda.
Buatlah program if-else yg memiliki kondisi, jika Year of Service seorang pegawai lebih dari 10 tahun, maka gajinya akan diberi bonus sebesar 10%.

In [ ]:
# Input gaji dan tahun pengalaman kerja pegawai
gaji = int(input("Masukkan gaji pegawai: "))
tahun_pengalaman = int(input("Masukkan tahun pengalaman kerja pegawai: "))

# Kondisi untuk memberikan bonus
if tahun_pengalaman > 10:
    bonus = 0.1 * gaji
    gaji_total = gaji + bonus
    print("Pegawai mendapatkan bonus sebesar 10%.")
    print("Gaji total: ", gaji_total)
else:
    print("Pegawai tidak mendapatkan bonus.")
    print("Gaji total: ", gaji)

Masukkan gaji pegawai: 5000000
Masukkan tahun pengalaman kerja pegawai: 12
Pegawai mendapatkan bonus sebesar 10%.
Gaji total:  5500000.0

**LOOP**

In [ ]:
for i in['foo','bar','baz','qux','quux','corge']:
 print(i+'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [ ]:
for i in[1,2,3,4]:
  print(i+1)

2
3
4
5

objek yang bisa dilakukan looping adalah iterable (string, list, tuple, dictionary, dsb)

In [ ]:
for i in'string':
  print(i)

s
t
r
i
n
g

**WHILE LOOP**

In [ ]:
apel = 5
while apel>0:
  apel-=1
  print(apel)

4
3
2
1
0

In [ ]:
apel = 5
apel -= 1
print(apel)

4

In [ ]:
apel = 5
while apel>0:
    apel-=1
    if apel ==1:
        print('woy tinggal 1 nih ati2 ya')
    else:
        print(apel)

4
3
2
woy tinggal 1 nih ati2 ya
0

In [ ]:
# break digunakan untuk memberhentikan loop
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        break
    print(apel)
print('Loop Ended')

4
3
Loop Ended

In [ ]:
apel

2

In [ ]:
# continue digunakan untuk melanjukan loop berdasarkan kondisi
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        continue
    print(apel)
print('Loop Ended')

4
3
1
0
Loop Ended

In [ ]:
# else
apel = 10
while apel>0:
    apel-=2
    print(apel)
else:
    print('loop ended')

8
6
4
2
0
loop ended

In [ ]:
# break digunakan untuk memberhentikan loop
apel = 5
while apel>0:
    apel-=1
    print(apel)
    if apel==2:
        break
else:
    print('Loop Done')

4
3
2

**Nested If - Else & Loops**

In [ ]:
#Nested IF
umur = 42
gender = 'M'
if umur <18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
if umur >=18 and umur <65:
    if gender == 'M':
        print('Dad')
    else:
        print('Mom')

Dad

One Line While Loop

In [ ]:
apel = 5
while apel>0:apel-=1;print(apel)

4
3
2
1
0

**For Loop**

In [ ]:
a = [1,2,3,4,5,6]
for i in a:
  print(i)

1
2
3
4
5
6

In [ ]:
# For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    print(i)

Budi
Joko
Anwar

In [ ]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    for j in i :
        print(j)

B
u
d
i
J
o
k
o
A
n
w
a
r

In [ ]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
  if i == 'Joko':
    break
  for j in i:
    print(j)

B
u
d
i

In [ ]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    if dictionary_a[i] == 'Bekasi':
        print(dictionary_a[i])

Bekasi

In [ ]:
dictionary_a.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
dictionary_a.values()

dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [ ]:
dictionary_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [ ]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [ ]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.keys():
    print(i)

A
B
C

In [ ]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i,j in dictionary_a.items():
    print(i,j)

A Bekasi
B Jakarta
C Medan

In [ ]:
#Continue
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        continue
    print(i)

Aster
Hachi

In [ ]:
#Pass
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        pass
    print(i)

Aster
Jubah
Nambo
Hachi

In [ ]:
#Break
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        break
    print(i)

Aster

-Loop itu keseluruhan iterasi objek 1 loop diatas 4 iterasi
-Iterasi adalah istilah untuk 1 putaran loop
-continue akan memberhentikan iterasi dan lanjut ke iterasi berikutnya
-break akan memberhentikan looping secara keseluruhan

In [ ]:
for i in ['Aster','Jubah','Nambo','Hachi'] :
    print(i)
else:
    print('Loop Done')

Aster
Jubah
Nambo
Hachi
Loop Done

In [ ]:
#Break 
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        break
    print(i)
else:
    print('Loop Done')

Aster

In [ ]:
for i in [1,2,3,4,5,6,7,8,9]:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

12
15
18

In [ ]:
print(zip(a,b))

<zip object at 0x7f84cc14d980>

quiz 3

In [ ]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print("Genap")
    else:
        print(i)
    i += 1

1
Genap
3
Genap
5
Genap
7
Genap
9
Genap
11
Genap
13
Genap
15
Genap
17
Genap
19
Genap

**TUGAS SESI 2**

Program ini akan mencetak deret bilangan segitiga dimulai dari angka 1 hingga 10. Berikut adalah penjelasan rinci program ini:

Baris pertama dari program ini adalah for i in range(1, 11):. Ini adalah loop for pertama yang akan melakukan iterasi 10 kali, mulai dari angka 1 hingga angka 10.
Pada setiap iterasi dari loop for pertama, loop for kedua akan dijalankan. Loop for kedua adalah for j in range(i):. Ini akan membuat loop kedua yang akan berjalan sebanyak i kali di setiap iterasi loop for pertama. Pada iterasi pertama dari loop for pertama, loop for kedua akan dijalankan sekali, pada iterasi kedua dari loop for pertama, loop for kedua akan dijalankan dua kali, dan seterusnya.
Pada setiap iterasi dari loop for kedua, program mencetak nilai i dengan format print(i, end=" "). Ini akan mencetak nilai i ke dalam satu baris, dipisahkan oleh spasi. end=" " mengatur agar hasil cetakan pada setiap iterasi loop for kedua tetap berada di satu baris.
Setelah loop for kedua selesai dijalankan, program akan mencetak baris baru menggunakan print(). Ini akan memindahkan hasil cetakan pada iterasi loop for pertama ke baris baru.
Program akan melanjutkan ke iterasi berikutnya dari loop for pertama dan melakukan hal yang sama sampai loop for pertama selesai dijalankan.
Dalam keseluruhan, program ini mencetak angka dari 1 hingga 10 dalam bentuk deret bilangan segitiga

In [ ]:
for i in range(1, 11):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10