<a href="https://colab.research.google.com/github/koriatul/pytn-ks-011/blob/main/Sesi_1___Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Integer </h2>

TIPE DATA YANG SERING DIGUNAKAN:

- INTEGER
- FLOAT
- STRING
- BOOLEAN

Integer = Bilangan Bulat

In [2]:
print(1000000000000)

1000000000000

In [3]:
print(type(3))

<class 'int'>

In [4]:
print(123123123123123123123123123123123123 + 1)

print(type(3))

123123123123123123123123123123123124
<class 'int'>

decimal number

In [5]:
print(10)

print(type (10))

10
<class 'int'>

<h2> Floating -Point number </h2>

In [6]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

<h2> String </h2>

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [8]:
print( " saya adalah kori ") 
print(type("saya adalah kori"))

 saya adalah kori
<class 'str'>

<h2> Boolen type , Boolen context , and Thrutiness </h2>

In [9]:
True
False

False

In [10]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

<h2> Variabel Assigment </h2>

In [11]:
angka = 300
print(angka)

a = b = c = d = 300
print(a,b,c,d)

print(type(angka))

300
300 300 300 300
<class 'int'>

In [12]:
teks = 'wkwkwkwkw'
print(teks)
print(type(teks))

wkwkwkwkw
<class 'str'>

In [13]:
a = b = c = 300
print(a,b,c)

300 300 300

In [14]:
print(type(b))

<class 'int'>

In [15]:
rumah = 'Bekasi'
Rumah = 'Jakarta'

In [16]:
print(rumah, Rumah)

Bekasi Jakarta

ctrl + / untuk comment

In [17]:
# Nama variabel tidak diperbolehkan dimulai dengan angka
# 0_Rumah='a'

In [18]:
# rumah = 'budi'

In [19]:
print(rumah)

Bekasi

<h2> Variabel Type in Python </h2>

In [20]:
var = 23.5
print(var)

var = "Now i'm string"
print(var)

23.5
Now i'm string

Variabel Name

In [21]:
name = "Hacktiv8"
age = 54
has_laptops = True
print(name, age, has_laptops)

rumah = 'bogor'
print(rumah)

Hacktiv8 54 True
bogor

**OPERATORS**

OPERATORS(OPERASI ARITMATIKA

(+) penjumlahan
(/) pembagian
(-) pengurangan
(*) perkalian
(//) pembulatan kebawah
(%) modulo
(**) perpangkatan

In [22]:
a = 10 
b = 20

print( a+b )
print(a-b)
print(a*b)
print (a/b)
print(a//b)
print(a%b)

#pangkat
print(a**b)

30
-10
200
0.5
0
10
100000000000000000000

<h3> Quiz 1 30 derajat celsius ke fahrenheit </h3>

Konversi Celcius ke Fahrenhit

In [23]:
celcius = 30
fahrenhit = (9/5) * celcius + 32
print(fahrenhit)

86.0

<h2> Comparison Operator </h2>

persamaan (==) <br> 
lebih dari (>) <br>
lebih dari sama dengan (>=) <br> 
kurang dari (<) <br>
kurang dari sama dengan (<=) <br> 
tidak sama dengan/not equal (!=)

In [24]:
c = 10
d = 30
e = 10
f = 20
# persamaan 
print (c==b) 

# lebih dari kurang dari
print(c>d)
print(c>=d)
print(c<=d)
print(c==e)

False
False
False
True
True

In [25]:
rumah1= 'bekasi'
rumah2 = 'jakarta'
rumah3='jakarta'

In [26]:
# Persamaan (==)
print(rumah2==rumah3)

True

In [27]:
# TIdak sama dengan / Not Equal (!=)
print(c!=d)
print(c!=e)
print(rumah1!=rumah2)

True
False
True

<h2> String Manipulation </h2>

In [28]:
#operator +
s = 'foo'
t = 'bar'
u = 'baz'
print( t+s)
print( s+t+u )

#operator *
print(s*10)

#operator in 
a ='buah'
print(a in 'saya mau beli buah')

#upper lower
print(a.upper())
print(a.lower())

print(a.capitalize())
print(a.title())
print(a.swapcase())

barfoo
foobarbaz
foofoofoofoofoofoofoofoofoofoo
True
BUAH
buah
Buah
Buah
BUAH

In [29]:
d = 'SAya mAu Makan'
print(d.capitalize())
print(d.title())
print(d.swapcase())

Saya mau makan
Saya Mau Makan
saYA MaU mAKAN

<h2> Python List </h2>

In [30]:
a = ['saya', 'mau' , 'makan']
print (a)

b = ['saya,',1,True,4.7]
print(b)
print(type(b))

['saya', 'mau', 'makan']
['saya,', 1, True, 4.7]
<class 'list'>

In [31]:
print(a==c)

False

In [32]:
#list can be accesed by index
a = ['foo','bar','qux','quux','corge']
print(a)

#indexing
print(a[0])
print(a[3])

['foo', 'bar', 'qux', 'quux', 'corge']
foo
quux

<h2> Indexing and Slicing </h2>

In [33]:
# List can be accessed by Index
a = ['foo','bar','baz','qux','quux','corge']
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [34]:
# Indexing
print(a[0])
print(a[3])

foo
qux

In [35]:
print(a[-6])

foo

In [36]:
print(a[-6]==a[0])

True

In [37]:
x = 'budi'
print(x[-1])

i

<h2> Prinsip Slicing = [start:stop:step] </h2>

In [38]:
# Slicing
a = ['foo','bar','baz','qux','quux','corge']
print(a[0:6])
print(a[1:])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['bar', 'baz', 'qux', 'quux', 'corge']

In [39]:
x = 'budi'
print(x[1:3])
print(x[1:])

ud
udi

In [40]:
y = 'Jaka Tingkir Suryanegara'
print(y[::-1])

aragenayruS rikgniT akaJ

In [41]:
a = 'komitmen'
print(a[1:4])
print(a[3:4])
print(a[4:])
print(a[2:])
print(a[0:5:2]+a[a.index('n')])

omi
i
tmen
mitmen
kmtn

<h2> Modify List values based on its index </h2>

In [42]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[a.index('qux')] = 20

In [43]:
# del command
del a[a.index('quux')]
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [44]:
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [45]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[0:3] = [1,2,3]
print(a)

[1, 2, 3, 'qux', 'quux', 'corge', 'quux']

<h2> Tuple </h2>

In [46]:
t = ('foo','bar','baz','qux','quux','corge','quux')
print(type(t))

<class 'tuple'>

<h2> Dictionary </h2>

In [47]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [48]:
print(MLB_team['Colorado'])
print(MLB_team['Boston'])

Rockies
Red Sox

In [49]:
# Assign Kota Baru
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [50]:
# Assign Kota Baru
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [51]:
#Update Tim Kota
MLB_team['Seattle'] = 'Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [52]:
# del command
del MLB_team['Colorado']
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [53]:
orang = {}
print(type(orang))

<class 'dict'>

In [54]:
orang['Nama'] = 'Budi'
orang['Kota'] = 'Solo'
orang['Umur'] = 32
orang['Anak'] = ['Budi','Sarah','Syifa']
orang['Kendaraan'] ={'mobil':'Innova','motor':'mio'}
orang

{'Nama': 'Budi',
 'Kota': 'Solo',
 'Umur': 32,
 'Anak': ['Budi', 'Sarah', 'Syifa'],
 'Kendaraan': {'mobil': 'Innova', 'motor': 'mio'}}

In [55]:
print(orang['Kendaraan']['motor'])

mio

In [56]:
print(orang['Anak'][0:2])

['Budi', 'Sarah']

<h2> Line Continuation </h2>

In [57]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(False and False)
print(False or False)

True
False
True
True
False
False

working age is 16-65

In [58]:
umur1 = 42
umur2 = 16
umur3=71

print(umur1>=18 and umur1<=65)
print(umur2>=18 and umur2<=65)
print(umur3>=18 and umur3<=65)

True
False
False


how to check if one of them is of working age

In [59]:
print((umur1>=18 and umur1<=65) or (umur2>=18 and umur2<=65) or (umur3>=18 and umur3<=65))

True

<h2> Materi Tambahan </h2>

In [60]:
mobil = ['Toyota','Kijang']
mobil = mobil + ['Isuzu']
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [61]:
mobil = ['Toyota','Kijang']
mobil.append('Isuzu')
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [62]:
kendaraan = mobil.copy()
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [63]:
kendaraan.append('Innova')
kendaraan.append('Innova')

print(kendaraan)
print(mobil)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']
['Toyota', 'Kijang', 'Isuzu']

In [64]:
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']

In [70]:
kendaraan.remove('Innova')

In [69]:
buah = ['Pisang','Jeruk','Apel']
buah.pop(1)
print(buah)

['Pisang', 'Apel']